.section.bike-selector-container {
    width: 100%;
}

.section.bike-selector-container .bike-selector-wrapper {
    background: linear-gradient(180deg, #4f4d4d 0%, #3d3d3d 100%);
    margin: unset;
}

.section.bike-selector-container .bike-selector-wrapper .bike-selector {
    margin: 2rem auto;
}

.section.bike-selector-container .bike-selector-wrapper .bike-selector.block .heading {
    text-transform: uppercase;
    font-size: 3rem;
    color: #fff;
    letter-spacing: normal;
    line-height: 3.625rem;
    font-style: italic;
    text-align: center;
    font-weight: 700;
    margin: 0;
    padding: 1rem 0;
    font-family: "TSTAR-PRO-Heavy";
    font-weight: 900;
}

.section.bike-selector-container .bike-selector-wrapper .bike-selector__mainWrapper {
    display: flex;
    justify-content: space-between;
}

.section.bike-selector-container .bike-selector-wrapper .bike-selector__variantsWrapper {
    display: flex;
    flex-direction: column;
    width: 20.9375rem;
    margin: 1.5rem 0;

}

.section.bike-selector-container .bike-selector-wrapper .bike-selector__variantsWrapper .variants-wrap .text {
    font-size: 1.125rem;
    color: #fff;
    margin-bottom: 1rem;
}

.section.bike-selector-container .bike-selector-wrapper .bike-selector__overViewWrapper {
    display: flex;
}

.section.bike-selector-container .bike-selector-wrapper .bike-selector__colorsWrapper {
    display: flex;
    flex-direction: column;
}