.section.bike-selector-container {
    width: 100%;
    margin-bottom: 0;
}

.section.bike-selector-container .bike-selector-wrapper {
    background: linear-gradient(180deg, #4f4d4d 0%, #3d3d3d 100%);
    margin: unset;
    padding: 10px 75px 0px 75px;
}

.section.bike-selector-container .bike-selector-wrapper .bike-selector {
    margin: 2rem auto;
    margin-bottom: 0;
}

.section.bike-selector-container .bike-selector-wrapper .bike-selector.block .heading {
    text-transform: uppercase;
    font-size: 3rem;
    color: #fff;
    letter-spacing: normal;
    line-height: 3.625rem;
    font-style: italic;
    text-align: center;
    font-weight: 700;
    margin: 0;
    padding: 1rem 0;
    font-family: "TSTAR-PRO-Heavy";
    font-weight: 600;
    margin-top: 50px;
}

.section.bike-selector-container .bike-selector-wrapper .bike-selector.block .bottom-sec {
    font-size: 18px;
    color: #fff;
    letter-spacing: normal;
    font-weight: 400;
    padding-bottom: 4px;
    font-family: "TSTAR-PRO-Medium";
}



.section.bike-selector-container .bike-selector-wrapper .bike-selector__mainWrapper {
    display: flex;
    justify-content: space-around;
    margin: 0rem 0rem;
}

.section.bike-selector-container .bike-selector-wrapper .bike-selector__variantsWrapper {
    display: flex;
    flex-direction: column;
    width: 20.9375rem;
    margin: 1.5rem 0;
    color: #fff;

}

.section.bike-selector-container .bike-selector-wrapper .bike-selector__variantsWrapper .variants-wrap .radio-wrap input[type=radio] {
    display: none;
}

.section.bike-selector-container .bike-selector-wrapper .bike-selector__variantsWrapper .variants-wrap .radio-wrap input[type=radio]+label::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
    border: .0625rem solid silver;
    border-radius: 50%;
    outline: .0625rem solid rgba(0, 0, 0, 0);
}

.section.bike-selector-container .bike-selector-wrapper .bike-selector__variantsWrapper .variants-wrap .radio-wrap input[type=radio]:checked+label::before {
    background-color: #ee2326;
    border: 5px solid #ee2326;
    -webkit-animation: radio-circle .4s ease-out forwards;
    animation: radio-circle .4s ease-out forwards;
    outline: .0625rem solid #d30000;
    width: 0.5rem;
    height: 0.5rem;
}

@keyframes radio-circle {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        background-color: #fff;
        -webkit-box-shadow: .633333px .633333px 1.26667px rgba(255, 0, 0, .25), inset 0px 2.53333px 2.53333px rgba(255, 0, 0, .25);
        box-shadow: .633333px .633333px 1.26667px rgba(255, 0, 0, .25), inset 0px 2.53333px 2.53333px rgba(255, 0, 0, .25);
    }
}

.section.bike-selector-container .bike-selector-wrapper .bike-selector__variantsWrapper .variants-wrap .radio-wrap .bike-form-control .price-txt-wrap{
    margin-bottom: 24px;
}

.section.bike-selector-container .bike-selector-wrapper .bike-selector__variantsWrapper .variants-wrap .radio-wrap .bike-form-control .price-txt-wrap label{
    color: #fff;
    font-family: "TSTAR-PRO-Regular";
    font-weight: 400;
}
.section.bike-selector-container .bike-selector-wrapper .bike-selector__variantsWrapper .variants-wrap .radio-wrap .bike-form-control .price-txt-wrap .price-sec {
    color: #fff;
    font-family: "TSTAR-PRO-Regular";
    font-weight: 400;
    padding-left: 22px;
}

.section.bike-selector-container .bike-selector-wrapper .bike-selector__variantsWrapper .variants-wrap .radio-wrap .bike-form-control.active .price-txt-wrap label{
    color: #fff;
    font-family: "TSTAR-PRO-Heavy";
    font-weight: 900;
}
.section.bike-selector-container .bike-selector-wrapper .bike-selector__variantsWrapper .variants-wrap .radio-wrap .bike-form-control.active .price-txt-wrap .price-sec {
        color: #fff;
    font-family: "TSTAR-PRO-Heavy";
    font-weight: 900;
}

.section.bike-selector-container .bike-selector-wrapper  .bike-selector__360View {
    width: 44.375rem;
}

.section.bike-selector-container .bike-selector-wrapper  .bike-selector__360View  .hero-360 .hero-360 .spritespin-stage .rotate{
    width: 490px;
    height: 320px;
    position: relative;
    left: 35px;
}

.section.bike-selector-container .bike-selector-wrapper  .bike-selector__360View .hero-360 .rotate-images {
    display: flex;
    justify-content: space-between;
    img {
        width: 40px;
        height: 40px;
    }
}
.section.bike-selector-container .bike-selector-wrapper  .bike-selector__360View .hero-360 .rotate-images .hero-icon.left:before {
        content:'\e9a3';
        color: #fff;
        font-size: 42px;
}
.section.bike-selector-container .bike-selector-wrapper  .bike-selector__360View .hero-360 .rotate-images .hero-icon.right {
    &:before {
        content: '\e9a3';
        transform: rotate(180deg);
        color: #fff;
        font-size: 42px;
      }
}      


.section.bike-selector-container .bike-selector-wrapper .bike-selector__variantsWrapper .variants-wrap .text {
  margin-bottom: 1rem;
  font-family: var(--heading-font-family);
  font-weight: 700;
  line-height: 1.25;
    font-size: 1.5rem;
}

.section.bike-selector-container .bike-selector-wrapper .bike-selector__overViewWrapper {
    display: flex;
}

.section.bike-selector-container .bike-selector-wrapper .bike-selector__colorsWrapper {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.section.bike-selector-container .bike-selector-wrapper .bike-selector.block .bike-selector__mainWrapper .colors-container {
    color: #fff;
    width: 20.9375rem;
}

.section.bike-selector-container .bike-selector-wrapper .bike-selector.block .bike-selector__mainWrapper .colors-container h4{
   text-align: right;
}

.section.bike-selector-container .bike-selector-wrapper .bike-selector.block .bike-selector__mainWrapper .colors-container .color-wrapp .color-option img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    padding: 2px;
}

.section.bike-selector-container .bike-selector-wrapper .bike-selector.block .bike-selector__mainWrapper .colors-container .color-wrapp .color-option.active img {
    border: .125rem solid #fff;
}


.section.bike-selector-container .bike-selector-wrapper .bike-selector.block .bike-selector__mainWrapper .colors-container  .color-wrapp .color-option {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
    font-family: "TSTAR-PRO-Heavy";
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    cursor: pointer;
    color: #fff;

}

.section.bike-selector-container .bike-selector-wrapper .bike-selector.block .bike-selector__mainWrapper .colors-container  .color-wrapp .color-option>span {
    font-family: "TSTAR-PRO-Regular";
    font-weight: 400;
    color: #fff;
}

.section.bike-selector-container .bike-selector-wrapper .bike-selector.block .bike-selector__mainWrapper .colors-container  .color-wrapp .color-option.active>span {
   font-family: "TSTAR-PRO-Heavy";
       font-weight: 900;
}